<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/favicon.jpg" type="image/x-icon" />
    <title>Manishafashion.com</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1 class="logo">ManishaFashion</h1>
        <ul class="nav-links">
          <li><a href="/home.html">Home</a></li>
          <li><a href="/index.html">store</a></li>
          <li><a href="/contact.html">contact</a></li>
          <!-- {{url_for('contact')}}  {{url_for('index')}}  {{url_for('home')}}  -->
        </ul>
      </nav>
    </header>
    <main>
      <section class="about">
        <h2>About Us Manishafashion</h2>
        <p>We are dedicated to providing the best services to our customers.</p>
        <p>
          Our team is passionate about what we do, and we strive for excellence
          in every project.
        </p>
        <p>
          <a href="/documentation.html" class="cta-button"
            >documentation of Jr. College project</a
          >
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Manishafashion. All rights reserved.</p>
    </footer>
  </body>
</html>
