<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Manishafashion: documentation</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1 class="logo">ManishaFashion: documentation</h1>
      </nav>
    </header>
    <main>
      <section class="about"><h2><b>Project name: Online web store</b></h2></section><br>
      <section style="text-align: center" id="Introduction">
        <h2>Introduction</h2>
        <p>
          This project is designed to create a Website to showcase my skills.<br />It
          demonstrates my understanding of
          <abbr title="Hyper Text Markup Language">HTML</abbr> and
          <abbr title="Cascading Style Sheets">CSS</abbr><br>This is link to my github repository <a href="https://github.com/unknown-guy123/Manishafashion.com">link</a><br><hr><br>
          Table of content<table><li><a href="#Introduction">Introduction</a></li><li><a href="#Setup Instructions">Setup Instructions</a></li><li><a href="#Project Structure">Project Structure</a></li><li><a href="#Code Overview">Code Overview</a></li><li><a href="#Conclusion">Conclusion</a></li></table><br><hr>
        </p><br><br>
        <section id="Setup Instructions"><p><h1><b>Steps</b></h1>
          Download the project files and Extract the files to a folder.
          Open index.html in your web browser.</section><br><br><br><hr>
          <section id="Project Structure"><br>
            <br><br><h3><b>Project Structure</b></h3>
             <b>index.html:</b> Main webpage. <br>
             <b>home.html:</b> Introduction to online website products  <br><b>about.html</b>: In this page you'll find documentation<br><b>contact.html</b>: This page is used to send report via email.<br>
             <b>styles.css:</b> Styles and images for the webpages. <br>
            </p><br><br><br><hr>
          </section>
          <section id="Code Overview"><br><br><br>
            <h3><b>Code Overview</b></h3>
            HTML Structure includes a header, main, section, and footer. <br>
            CSS Styles define layout, colors, fonts, and I also used Bootstrap. <br> 
          </section><br><br><br><hr>
          <section id="Conclusion"><br><br>
            <h3><b>Conclusion</b></h3>
            This project showcases my HTML and CSS skills.
          </section><br><br><br>
          <a href="/about.html"><button class="cta-button">Back to about</button></a>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Manishafashion. All rights reserved.</p>
    </footer>
  </body>
</html>
