<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/favicon.jpg" type="image/x-icon" />
    <title>Manishafashion.com</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1 class="logo">ManishaFashion</h1>
        <ul class="nav-links">
          <li>
            <a href="/index.html">Store</a>
          </li>
          <li>
            <a href="/about.html">about</a>
          </li>
          <li>
            <a href="/contact.html">contact</a>
            <!-- {{url_for('contact')}} {{url_for('about')}}  {{url_for('index')}}  -->
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <h2>Welcome Manishafashion.com</h2>
        <img src="/logo.jpg" alt="company_logo" width="300px" /><br />
        <p>
          Here we offer you hand-made women accessories <br />
          in lowest possible cost.
        </p>
        <a href="#services" class="cta-button">Learn More</a>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 Manishafashion. All rights reserved.</p>
    </footer>
  </body>
</html>
